cmake_minimum_required(VERSION 3.13)


set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

project(log_decompiler CXX C)

set(UMSG_PORT "POSIX")

add_subdirectory(${CMAKE_CURRENT_SOURCE_DIR}/umsg_lib)


target_link_libraries(uMsgLib
)

add_executable(log_parser
log_parser.cpp
)



target_link_libraries(log_parser
uMsgLib
)

