// Generated with umsg_gen on {{ date }}
#pragma once

#ifdef __cplusplus
extern "C" {
#endif

#include <umsg_types.h>

{%for head in headers%}
#include <{{head}}.h>
{% endfor -%}


typedef enum
{
{% for val in headers%}
{{val.upper()}}{{ "," if not loop.last else "" }}
{%endfor%}
} umsg_classes_t;

#ifdef __cplusplus
}
#endif



